//-footer
footer.footer
  .row.full-width
    .small-12.medium-3.large-4.columns
      i.fi-laptop
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum maiores alias ea sunt facilis impedit fuga dignissimos illo quaerat iure in nobis id quos, eaque nostrum! Unde, voluptates suscipit repudiandae!
    .small-12.medium-3.large-4.columns
      i.fi-html5
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit impedit consequuntur at! Amet sed itaque nostrum, distinctio eveniet odio, id ipsam fuga quam minima cumque nobis veniam voluptates deserunt!
    .small-6.medium-3.large-2.columns
      h4 Work With Me
      ul.footer-links
        li
          a(href='#') What I Do
        li
          a(href='#') Pricing
        li
          a(href='#') Events
        li
          a(href='#') Blog
        li
          a(href='#') FAQ&apos;s
    .small-6.medium-3.large-2.columns
      h4 Follow Me
      ul.footer-links
        li
          a(href='#') GitHub
        li
          a(href='#') Facebook
        li
          a(href='#') Twitter
        li
          a(href='#') Instagram
        li
          a(href='#') Dribbble
        ul
