div.title-bar(data-responsive-toggle='main-menu', data-hide-for='medium')
  button.menu-icon(type='button', data-toggle='')
  div.title-bar-title Nukefactory
div#main-menu.top-bar
  div.top-bar-left
    ul.dropdown.menu(data-dropdown-menu)
      li
        a(href='#') Articles
      li
        a(href='#') YouTube
      li
        a(href='#') Tutorials
        //-ul.menu.vertical
          li
            a(href='#') Watch
          li
            a(href='#') Read
          li
            a(href='#') Files
      li.menu-text Nukefactory
      li
        a(href='#') Products
      li
        a(href='#') Work
      li
        a(href='#') Contact
  //-div.top-bar-right
    ul.menu
      li
        input(type='search', placeholder='Search')
      li
        button.button(type='button') Search
