$foundation-palette: (
  primary: #071864,
  secondary: #EBA537,
  success: #3adb76,
  warning: #5e0000,
  alert: #965215,
);
$light-gray: #B8BBAE;
$medium-gray: #988D69;
$dark-gray: #333333;
$black: #0a0a0a;
$white: #fefefe;
$body-background: $white;
$body-font-color: $black;
$body-font-family: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;

$menu-background: $black;
;
