//-index
extends ./templates/layout

block content
  .row
    .column.small-12#nf-title
      h1 Nukefactory
  .row.nf-posts
    .column.small-12.large-6
      +blog_post('Item one')
        p Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Nullam quis risus eget urna mollis ornare vel eu leo.

    .column.small-12.large-6
      +blog_post('Item two')
        p Donec sed odio dui. Maecenas faucibus mollis interdum. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
